.quote-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    overflow: hidden;
  }
  .quote-content {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slide-in-out 8s linear infinite;
  }
  @keyframes slide-in-out {
    0%, 100% {
      opacity: 0;
      transform: translateX(-100%);
    }
    10%, 90% {
      opacity: 1;
      transform: translateX(0%);
    }
    100%, 110% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  