/* Large devices (width >= 640px) */
@media (min-width: 640px) {
  .custom-bar-chart {
    width: 640px; /* Adjust as needed */
  }
}

/* Tablet devices (width >= 460px and < 640px) */
@media (min-width: 460px) and (max-width: 639px) {
  .custom-bar-chart {
    width: 460px; /* Adjust as needed */
  }
}

/* Mobile devices (width < 460px) */
@media (max-width: 459px) {
  .custom-bar-chart {
    width: 290px; /* Adjust as needed */
  }
}
