/* .primary-bg2 {
  background: linear-gradient(
    25deg,
    rgb(50, 4, 124),
    rgb(1, 60, 116),
    rgb(91, 0, 109),
    rgb(44, 0, 116),
    rgb(73, 20, 143),
    rgb(70, 4, 114),
    rgb(122, 4, 146),
    rgb(3, 52, 116),
    rgb(77, 1, 121),
    rgb(1, 86, 156),
    rgb(64, 8, 116),
    rgb(12, 91, 156),
    rgb(82, 0, 99),
    rgb(5, 47, 102),
    rgb(87, 0, 104),
    rgb(1, 31, 129),
    rgb(0, 74, 134),
    rgb(69, 0, 83),
    rgb(72, 0, 119)
    );
  background-size: 1100% 1100%;
  animation: color 20s ease-in-out infinite;
  color: white;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.primary-bg {
  background: linear-gradient(
    45deg,
    rgb(1, 31, 129),
    rgb(71, 0, 85),
    rgb(1, 60, 109),
    rgb(77, 1, 121),
    rgb(1, 60, 116),
    rgb(65, 0, 78),
    rgb(42, 5, 102),
    rgb(69, 0, 83),
    rgb(5, 47, 102),
    rgb(57, 3, 94)
  );
  background-size: 500% 500%;
  background-repeat: no-repeat;
  animation: colors 40s ease-in-out infinite;
}
@keyframes colors {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */
